.metadata
.recommenders
esir.compilation.ide
esir.compilation.ui
org.xtext.compilation.ide/bin/.gitkeep
org.xtext.compilation.ide/bin/org/xtext/compilation/ide/contentassist/antlr/PartialWhileCompContentAssistParser.class
org.xtext.compilation.ide/bin/org/xtext/compilation/ide/contentassist/antlr/WhileCompParser$1.class
org.xtext.compilation.ide/bin/org/xtext/compilation/ide/contentassist/antlr/WhileCompParser.class
org.xtext.compilation.ide/bin/org/xtext/compilation/ide/contentassist/antlr/internal/InternalWhileComp.g
org.xtext.compilation.ide/bin/org/xtext/compilation/ide/contentassist/antlr/internal/InternalWhileComp.tokens
org.xtext.compilation.ide/bin/org/xtext/compilation/ide/contentassist/antlr/internal/InternalWhileCompLexer$DFA19.class
org.xtext.compilation.ide/bin/org/xtext/compilation/ide/contentassist/antlr/internal/InternalWhileCompLexer.class
org.xtext.compilation.ide/bin/org/xtext/compilation/ide/contentassist/antlr/internal/InternalWhileCompParser$DFA13.class
org.xtext.compilation.ide/bin/org/xtext/compilation/ide/contentassist/antlr/internal/InternalWhileCompParser.class
org.xtext.compilation.tests/bin/org/xtext/compilation/tests/.gitignore
org.xtext.compilation.tests/bin/org/xtext/compilation/tests/WhileCompInjectorProvider$1.class
org.xtext.compilation.tests/bin/org/xtext/compilation/tests/WhileCompInjectorProvider$2.class
org.xtext.compilation.tests/bin/org/xtext/compilation/tests/WhileCompInjectorProvider.class
org.xtext.compilation.tests/bin/org/xtext/compilation/tests/WhileCompParsingTest.class
org.xtext.compilation.tests/xtend-gen/org/xtext/compilation/tests/.WhileCompParsingTest.java._trace
org.xtext.compilation.ui.tests/bin/.gitkeep
org.xtext.compilation.ui.tests/bin/org/xtext/compilation/ui/tests/WhileCompUiInjectorProvider.class
org.xtext.compilation.ui/bin/org/xtext/compilation/ui/.gitignore
org.xtext.compilation.ui/bin/org/xtext/compilation/ui/AbstractWhileCompUiModule.class
org.xtext.compilation.ui/bin/org/xtext/compilation/ui/WhileCompExecutableExtensionFactory.class
org.xtext.compilation.ui/bin/org/xtext/compilation/ui/WhileCompUiModule.class
org.xtext.compilation.ui/bin/org/xtext/compilation/ui/contentassist/.gitignore
org.xtext.compilation.ui/bin/org/xtext/compilation/ui/contentassist/AbstractWhileCompProposalProvider.class
org.xtext.compilation.ui/bin/org/xtext/compilation/ui/contentassist/WhileCompProposalProvider.class
org.xtext.compilation.ui/bin/org/xtext/compilation/ui/internal/CompilationActivator.class
org.xtext.compilation.ui/bin/org/xtext/compilation/ui/labeling/.gitignore
org.xtext.compilation.ui/bin/org/xtext/compilation/ui/labeling/WhileCompDescriptionLabelProvider.class
org.xtext.compilation.ui/bin/org/xtext/compilation/ui/labeling/WhileCompLabelProvider.class
org.xtext.compilation.ui/bin/org/xtext/compilation/ui/outline/.gitignore
org.xtext.compilation.ui/bin/org/xtext/compilation/ui/outline/WhileCompOutlineTreeProvider.class
org.xtext.compilation.ui/bin/org/xtext/compilation/ui/quickfix/.gitignore
org.xtext.compilation.ui/bin/org/xtext/compilation/ui/quickfix/WhileCompQuickfixProvider.class
org.xtext.compilation.ui/xtend-gen/org/xtext/compilation/ui/.WhileCompUiModule.java._trace
org.xtext.compilation.ui/xtend-gen/org/xtext/compilation/ui/contentassist/.WhileCompProposalProvider.java._trace
org.xtext.compilation.ui/xtend-gen/org/xtext/compilation/ui/labeling/.WhileCompDescriptionLabelProvider.java._trace
org.xtext.compilation.ui/xtend-gen/org/xtext/compilation/ui/labeling/.WhileCompLabelProvider.java._trace
org.xtext.compilation.ui/xtend-gen/org/xtext/compilation/ui/outline/.WhileCompOutlineTreeProvider.java._trace
org.xtext.compilation.ui/xtend-gen/org/xtext/compilation/ui/quickfix/.WhileCompQuickfixProvider.java._trace
org.xtext.compilation/bin/org/xtext/compilation/.WhileCompRuntimeModule.xtendbin
org.xtext.compilation/bin/org/xtext/compilation/.WhileCompStandaloneSetup.xtendbin
org.xtext.compilation/bin/org/xtext/compilation/.gitignore
org.xtext.compilation/bin/org/xtext/compilation/AbstractWhileCompRuntimeModule.class
org.xtext.compilation/bin/org/xtext/compilation/GenerateWhileComp.mwe2
org.xtext.compilation/bin/org/xtext/compilation/WhileComp.xtext
org.xtext.compilation/bin/org/xtext/compilation/WhileComp.xtextbin
org.xtext.compilation/bin/org/xtext/compilation/WhileCompRuntimeModule.class
org.xtext.compilation/bin/org/xtext/compilation/WhileCompStandaloneSetup.class
org.xtext.compilation/bin/org/xtext/compilation/WhileCompStandaloneSetupGenerated.class
org.xtext.compilation/bin/org/xtext/compilation/generator/.WhileCompGenerator.xtendbin
org.xtext.compilation/bin/org/xtext/compilation/generator/.gitignore
org.xtext.compilation/bin/org/xtext/compilation/generator/Main.class
org.xtext.compilation/bin/org/xtext/compilation/generator/WhileCompGenerator.class
org.xtext.compilation/bin/org/xtext/compilation/parser/antlr/WhileCompAntlrTokenFileProvider.class
org.xtext.compilation/bin/org/xtext/compilation/parser/antlr/WhileCompParser.class
org.xtext.compilation/bin/org/xtext/compilation/parser/antlr/internal/InternalWhileComp.g
org.xtext.compilation/bin/org/xtext/compilation/parser/antlr/internal/InternalWhileComp.tokens
org.xtext.compilation/bin/org/xtext/compilation/parser/antlr/internal/InternalWhileCompLexer$DFA19.class
org.xtext.compilation/bin/org/xtext/compilation/parser/antlr/internal/InternalWhileCompLexer.class
org.xtext.compilation/bin/org/xtext/compilation/parser/antlr/internal/InternalWhileCompParser$DFA18.class
org.xtext.compilation/bin/org/xtext/compilation/parser/antlr/internal/InternalWhileCompParser.class
org.xtext.compilation/bin/org/xtext/compilation/scoping/.WhileCompScopeProvider.xtendbin
org.xtext.compilation/bin/org/xtext/compilation/scoping/.gitignore
org.xtext.compilation/bin/org/xtext/compilation/scoping/AbstractWhileCompScopeProvider.class
org.xtext.compilation/bin/org/xtext/compilation/scoping/WhileCompScopeProvider.class
org.xtext.compilation/bin/org/xtext/compilation/serializer/WhileCompSemanticSequencer.class
org.xtext.compilation/bin/org/xtext/compilation/serializer/WhileCompSyntacticSequencer.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$AffectationElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$CommandElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$CommandsElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$ConsElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$DefinitionElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$ExprAndElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$ExprElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$ExprEqElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$ExprNotElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$ExprOrElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$ExprSimpleElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$ExprsElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$ForElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$ForeachElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$FunctionElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$HdElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$IfElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$InputElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$LexprElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$ListElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$Nil2Elements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$NopElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$NotElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$OutputElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$ProgramElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$ReadElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$TlElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$VarsElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$WhileElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess$WriteElements.class
org.xtext.compilation/bin/org/xtext/compilation/services/WhileCompGrammarAccess.class
org.xtext.compilation/bin/org/xtext/compilation/validation/.WhileCompValidator.xtendbin
org.xtext.compilation/bin/org/xtext/compilation/validation/.gitignore
org.xtext.compilation/bin/org/xtext/compilation/validation/AbstractWhileCompValidator.class
org.xtext.compilation/bin/org/xtext/compilation/validation/WhileCompValidator.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Affectation.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Command.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Commands.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Cons.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Definition.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Expr.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/ExprAnd.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/ExprEq.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/ExprNot.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/ExprOr.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/ExprSimple.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Exprs.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/For.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Foreach.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Function.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Hd.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/If.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Input.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Lexpr.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/List.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Nil2.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Nop.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Not.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Output.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Program.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Read.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Tl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Vars.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/While.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/WhileCompFactory.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/WhileCompPackage$Literals.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/WhileCompPackage.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/Write.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/AffectationImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/CommandImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/CommandsImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/ConsImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/DefinitionImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/ExprAndImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/ExprEqImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/ExprImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/ExprNotImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/ExprOrImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/ExprSimpleImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/ExprsImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/ForImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/ForeachImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/FunctionImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/HdImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/IfImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/InputImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/LexprImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/ListImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/Nil2Impl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/NopImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/NotImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/OutputImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/ProgramImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/ReadImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/TlImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/VarsImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/WhileCompFactoryImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/WhileCompPackageImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/WhileImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/impl/WriteImpl.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/util/WhileCompAdapterFactory$1.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/util/WhileCompAdapterFactory.class
org.xtext.compilation/bin/org/xtext/compilation/whileComp/util/WhileCompSwitch.class
org.xtext.compilation/xtend-gen/org/xtext/compilation/.WhileCompRuntimeModule.java._trace
org.xtext.compilation/xtend-gen/org/xtext/compilation/.WhileCompStandaloneSetup.java._trace
org.xtext.compilation/xtend-gen/org/xtext/compilation/generator/.WhileCompGenerator.java._trace
org.xtext.compilation/xtend-gen/org/xtext/compilation/scoping/.WhileCompScopeProvider.java._trace
org.xtext.compilation/xtend-gen/org/xtext/compilation/validation/.WhileCompValidator.java._trace
C# Project/ProjectCOMP/ProjectCOMP/obj/
BinTreeProject/BinTreeProject/obj/Debug/BinTreeProject.csproj.FileListAbsolute.txt
esir.compilation.tests/bin/.gitignore
esir.compilation.tests/bin/.project
esir.compilation.ui.tests/bin/.gitignore
esir.compilation.ui.tests/bin/.project
