/.WhileCompRuntimeModule.java._trace
/.WhileCompStandaloneSetup.java._trace
/.WhileCompRuntimeModule.xtendbin
/.WhileCompStandaloneSetup.xtendbin
/WhileCompRuntimeModule.java
/WhileCompStandaloneSetup.java
