/.WhileCompDescriptionLabelProvider.java._trace
/.WhileCompLabelProvider.java._trace
/.WhileCompDescriptionLabelProvider.xtendbin
/.WhileCompLabelProvider.xtendbin
/WhileCompDescriptionLabelProvider.java
/WhileCompLabelProvider.java
